@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,900&subset=cyrillic");
body {
  background-color: #fff;
  font-size: 14px;
  font-family: "Open sans"; }

ul {
  padding-left: 0;
  list-style: none; }
  ul li a {
    text-decoration: none;
    color: white; }

*,
*:before,
*:after {
  box-sizing: border-box; }

.header {
  padding-top: 42px;
  padding-bottom: 42px;
  background: url("../img/Rectangle.png") center center no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh; }
  .header .in-header {
    color: white; }
    .header .in-header .text-header {
      margin-top: 30vh; }
      .header .in-header .text-header span {
        display: block;
        font-size: 10px;
        max-width: 355px;
        line-height: 17px; }

h1 {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 44px; }

h2 {
  font-weight: 300;
  font-size: 26px;
  letter-spacing: 0.2px; }

.iphone {
  padding-top: 3%;
  position: absolute;
  bottom: -20px;
  right: -10px; }
  .iphone img {
    width: 100%;
    height: 100%; }

.section-new {
  padding-top: 58px; }
  .section-new p {
    font-size: 10px;
    line-height: 17px;
    color: #b1b1b1; }

.section-details {
  padding-bottom: 95px;
  padding-top: 67px; }
  .section-details h2 {
    padding-bottom: 10px; }
  .section-details .name-details {
    font-weight: 600;
    font-size: 11px;
    margin-top: 14px;
    margin-bottom: 15px; }
  .section-details .detail {
    display: block;
    color: #b1b1b1;
    line-height: 18px;
    font-size: 11px;
    margin-bottom: 20px; }

.power-link {
  text-decoration: none;
  width: 110px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .power-link span {
    font-weight: 900;
    font-size: 11px;
    letter-spacing: 0.2px; }

.section-power {
  color: white;
  padding-top: 40px;
  overflow: hidden;
  background: url("../img/Layer8.png") center center no-repeat;
  background-size: cover;
  position: relative;
  max-height: 660px;
  min-height: 660px; }
  .section-power .power-block {
    margin-top: 23%;
    max-width: 385px;
    float: left; }
  .section-power h2 {
    font-size: 45px;
    margin-bottom: 22px; }
  .section-power .power-text {
    font-size: 11px;
    line-height: 18px; }
  .section-power .power-link {
    color: white;
    margin-top: 14px;
    margin-bottom: 14px; }
    .section-power .power-link:hover, .section-power .power-link:focus {
      color: #949aa7; }

.section-reasons {
  background-color: #82ca9c;
  color: white;
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 85px; }
  .section-reasons .reason-block {
    margin-bottom: 43px; }
  .section-reasons h2 {
    font-size: 26px;
    padding-bottom: 10px; }
  .section-reasons .name-reason {
    font-weight: 600;
    font-size: 11px;
    margin-top: 14px;
    margin-bottom: 15px; }
  .section-reasons .reason {
    display: block;
    line-height: 18px;
    font-size: 11px;
    margin-bottom: 20px; }

.buy-section {
  background-color: #f6f7fa;
  overflow: hidden;
  padding-top: 77px;
  padding-bottom: 105px; }
  .buy-section .buy-block {
    padding: 35px 40px;
    transition: all 0.6s ease-in-out; }
  .buy-section .popularization {
    border-radius: 3px;
    padding: 6px 13px;
    color: white;
    display: inline-block;
    background-color: #e1e1e1;
    font-size: 8.3px;
    font-weight: 800;
    transition: all 0.3s ease-in-out; }
  .buy-section .buy-plan {
    font-size: 23px;
    margin-top: 11px;
    margin-bottom: 11px; }
  .buy-section .buy-info {
    line-height: 18px;
    font-size: 11px;
    color: #b1b1b1; }
  .buy-section .buy-butt {
    margin-top: 18px;
    margin-bottom: 14px;
    display: block;
    color: white;
    text-decoration: none;
    background-color: #82ca9c;
    width: 115px;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    font-weight: 900;
    padding: 13px;
    transition: all 0.3s ease-in-out; }
    .buy-section .buy-butt:hover, .buy-section .buy-butt:focus {
      background-color: #73ca95;
      box-shadow: inset 0 0 150px -82px #424242; }
  .buy-section .apple {
    background: url("../img/fa-apple.png"); }
  .buy-section .wind {
    background: url("../img/fa-windows.png"); }
  .buy-section .apple, .buy-section .wind {
    display: inline-block;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat; }
  .buy-section .buy-block:hover, .buy-section .buy-block:focus {
    background-color: white;
    box-shadow: 0 0 55px 0 rgba(168, 168, 168, 0.35); }
    .buy-section .buy-block:hover .popularization, .buy-section .buy-block:focus .popularization {
      background-color: #bd8cbf; }
    .buy-section .buy-block:hover .buy-butt, .buy-section .buy-block:focus .buy-butt {
      background-color: #73ca95; }

.footer {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #192431;
  color: #f6f7fa; }
  .footer .get-in {
    margin-bottom: 20px;
    color: #f6f7fa;
    font-weight: 600; }
  .footer .get-text {
    line-height: 18px;
    font-size: 11px;
    margin-bottom: 25px; }
  .footer .email {
    width: 90%;
    height: 45px;
    border: none;
    font-size: 14px;
    padding-left: 15px; }
  .footer .submit {
    width: 10%;
    height: 45px;
    border: none;
    background: url("../img/g.png") center no-repeat #82ca9c;
    cursor: pointer; }
  .footer form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .footer .form-info {
    margin-top: 10px;
    color: #425265;
    max-width: 270px;
    font-size: 10.6px;
    line-height: 15px; }
  .footer li a {
    font-size: 10.5px;
    line-height: 22px; }
    .footer li a:hover, .footer li a:focus {
      color: #e3fafc; }
  .footer .name-footer-menu {
    margin-top: 25px;
    font-size: 11.3px;
    font-weight: 600; }

.owl-nav.disabled {
  display: none; }

.slider {
  padding-top: 45px;
  color: white; }
  .slider li {
    height: 210px;
    padding: 35px 40px; }
  .slider .name-photo {
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 15px; }
  .slider .text-photo {
    margin-bottom: 21px;
    font-size: 11px;
    line-height: 18px; }
  .slider .quality {
    background-color: #f5989d; }
  .slider .built {
    background-color: #615f7d; }
  .slider .sign {
    background: url("../img/Layer5.png") center center no-repeat;
    background-size: cover; }
    .slider .sign .text-photo {
      margin-bottom: 40px; }
  .slider .link-photo {
    font-size: 10px;
    font-weight: 900; }
    .slider .link-photo span:first-child {
      margin-right: 10px; }
  .slider .clients {
    background: url("../img/Layer6.png") center center no-repeat;
    background-size: cover; }
  .slider .great {
    background-color: #bd8cbf; }
  .slider .perfect {
    background-color: #82ca9c; }
  .slider .start {
    background: url("../img/Layer14.png") center center no-repeat;
    background-size: cover; }
