@media (max-width: 575px) {
    .iphone {
        display: none
    }
    footer.footer {
        text-align: center
    }
    footer.footer .form-info {
        margin: auto;
        margin-top: 25px
    }
}
